# Django Settings
DEBUG=
SECRET_KEY=
DJANGO_SETTINGS_MODULE=
ALLOWED_HOSTS=
# Database
DATABASE_URL=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Redis
REDIS_URL=
REDIS_ENABLED=

# CORS
CORS_ALLOWED_ORIGINS=

# Email
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Frontend
FRONTEND_INVITATION_URL=

# AI
GENAI_API_KEY=

# Security
SECURE_SSL_ENABLED=
SECURE_HSTS_SECONDS=
SECURE_HSTS_INCLUDE_SUBDOMAINS=
SECURE_HSTS_PRELOAD=
SECURE_SSL_REDIRECT=
SESSION_COOKIE_SECURE=
CSRF_COOKIE_SECURE=

# Traefik/Dokploy
TRAEFIK_ENABLED=
