# Django Settings
DEBUG=
SECRET_KEY=
DJANGO_SETTINGS_MODULE=
ALLOWED_HOSTS=
# Database
DATABASE_URL=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Redis
REDIS_URL=redis://localhost:6379
REDIS_ENABLED=true

# Redis Stream Configuration
STREAM_KEY=profiles_stream
STREAM_FIELD=data
REDIS_WRITE_URL=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Redis Stream Options
STREAM_COMPAT_ENABLED=false
STREAM_COMPAT_KEY=
STREAM_COMPAT_FIELD=
REDIS_RAISE_ON_ERROR=1
REDIS_FOLLOW_MASTER=0

# CORS
CORS_ALLOWED_ORIGINS=

# Email
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Frontend
FRONTEND_INVITATION_URL=

# AI
GENAI_API_KEY=

# Google
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# Security
SECURE_SSL_ENABLED=
SECURE_HSTS_SECONDS=
SECURE_HSTS_INCLUDE_SUBDOMAINS=
SECURE_HSTS_PRELOAD=
SECURE_SSL_REDIRECT=
SESSION_COOKIE_SECURE=
CSRF_COOKIE_SECURE=

# Traefik/Dokploy
TRAEFIK_ENABLED=

#IMAP Configuration
IMAP_HOST=imap.tonfournisseur.com
IMAP_PORT=993
IMAP_USERNAME=candidatures@ta-plateforme.com
IMAP_PASSWORD=motdepasse_ou_app_password
IMAP_MAILBOX=INBOX

# Celery/Redis (optionnel) pour analyse CV en arrière-plan
USE_CELERY_FOR_CV_ANALYSIS=False
REDIS_URL=redis://127.0.0.1:6379/0
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=