redis==5.0.1
Django==5.1.8
pillow==11.1.0
openpyxl==3.1.5
pymupdf==1.26.3
pydantic==2.11.7
gunicorn==23.0.0
whitenoise==6.9.0
mysqlclient==2.2.7
django-filter==25.1
django-redis==5.4.0
dj-rest-auth==7.0.1
python-decouple==3.8
google-genai==1.24.0
dj-database-url==2.3.0
drf-spectacular==0.28.0
psycopg[binary]==3.2.9
drf-nested-routers==0.94.1
django-cors-headers==4.7.0
drf-writable-nested==0.7.2
django-debug-toolbar==5.0.1
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
djangorestframework-camel-case==1.4.2
