{% load i18n %}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% translate "Réinitialisation de mot de passe" %}</title>
</head>
<body>
{% blocktrans with verification_code=verification_code %}
    Voici le code de réinitialisation de votre mot de passe :
    <strong>{{ verification_code }}</strong>
{% endblocktrans %}
<br>
{% blocktrans %}Vous pouvez utiliser ce code pour réinitialiser votre mot de passe sur notre site web.
{% endblocktrans %}
</body>
</html>