<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ question_category|title }} Questions JSON Processor</title>
</head>
<body>
<h2>Upload JSON Data</h2>
<form method="post">
    {% csrf_token %}
    {% if n %}
        <p style="color: green;">{{ n }} Questions added</p>
    {% endif %}
    <label>
        <textarea name="json" rows="20" cols="80"
                  placeholder='{"tags": ["example"], "questions": [{"title": "Example?", "question_type": "OA"}]}'></textarea>
    </label><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>